# generated talos files
controlplane.yaml
worker.yaml
talosconfig

# talos secrets
talos/secrets.yaml

#helm
*/charts/*

# ghost blog nonsense
kgnot/config.production.json
53ll/config.production.json

*.key
*.pub

.envrc
.config