init:
  method: wget
  wget:
    url: https://git.incngrnt.ca/grant/incngrnt/releases/download/v0.0.8/v0.0.8.tar

resources:
  requests:
    cpu: 10m
    memory: 32Mi
  limits:
    cpu: 500m
    memory: 32Mi

ingress:
  enabled: true
  tls:
    - secretName: incngrnt-ca-tls
      hosts:
        - incngrnt.ca
  hosts:
    - host: incngrnt.ca
      paths:
        - path: /
          pathType: ImplementationSpecific

