auth:
  rootPassword: {{ requiredEnv "MARIADB_ROOT_PASSWORD" }}

persistent:
  size: 5Gi

primary:
  resources:
    requests:
      cpu: 50m
      ephemeral-storage: 50Mi
      memory: 96Mi
    limits:
      cpu: 1
      ephemeral-storage: 2Gi
      memory: 192Mi
